{% extends "layout/layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="card content">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="card-title">
                    Invoice Details
                </h5>
                <h6 class="card-subtitle">
                    Invoice {{ invoiceNumber }}
                </h6>
            </div>
            <div class="col">
                {% if invoice.invStatus != 'Paid' %}
                <button type="button" class="btn btn-danger ms-auto float-end">
                    {{invoice.invStatus}} <span class="badge text-bg-light">RM {{invoice.invTotal}}</span>
                </button>
                {% else %}
                <button type="button" class="btn btn-primary ms-auto">
                    {{invoice.invStatus}} <span class="badge text-bg-light">RM {{invoice.invPaid}}</span>
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <label for="Customer"><strong>Customer Name</strong></label>
                <input type="text" name="custName" class="form-control" value="{{ invoice.custName }}" readonly>
            </div>
            <div class="col-sm">
                <label for="Invoice Date"><strong>Invoice Date</strong></label>
                <input type="text" name="invDate" class="form-control"
                    value="{{ invoice.invDate.strftime('%d-%m-%Y') }}" readonly>
            </div>
            <div class="col-sm">
                <label for="Invoice Due Date"><strong>Invoice Due Date</strong></label>
                <input type="text" name="invDue" class="form-control" value="{{ invoice.invDue.strftime('%d-%m-%Y') }}"
                    readonly>
            </div>
        </div>
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Service Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td class="text-center align-middle"><div class="d-flex justify-content-center align-items-center">{{ loop.index }}</div></td>
                    <td><input type="text" class="form-control" value="{{ item.serviceName }}" readonly></td>
                    <td><input type="text" class="form-control" value="{{ item.itemDesc }}" readonly></td>
                    <td><input type="text" class="form-control" value="{{ item.itemQty }}" readonly></td>
                    <td><input type="text" class="form-control" value="{{ 'RM %.2f'| format(item.itemPrice) }}"
                            readonly></td>
                    <td><input type="text" class="form-control" value="{{ 'RM %.2f'| format(item.itemAmt) }}" readonly
                            style="font-weight: bold;"> </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="input-group mb-3">
                    <span class="input-group-text">Total</span>
                    <input type="text" class="form-control" value="{{ 'RM %.2f'| format(invoice.invSubtotal) }}"
                        readonly style="font-weight: bold; text-align: right;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Total Paid</span>
                    <input type="text" class="form-control" value="{{ 'RM %.2f'| format(invoice.invPaid) }}" readonly
                        style="font-weight: bold; text-align: right;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Total Due</span>
                    <input type="text" class="form-control" value="{{ 'RM %.2f'| format(invoice.invTotal) }}" readonly
                        style="font-weight: bold; text-align: right; background-color: ghostwhite;">

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <div>
            <a href="{{url_for('invoices')}}" class="btn btn-secondary">← Back to Invoices</a>
            <a href="#" class="btn btn-secondary"><i class="fa-solid fa-file-arrow-down"></i> Download Invoice</a>
        </div>
        <div class="d-flex gap-2">
            <button type="button" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i>Edit Invoice</button>
            <button type="button" class="btn btn-secondary"><i class="fa-solid fa-hand-holding-dollar"></i>Pay Invoice</button>
        </div>
    </div>
</div>
{% endblock %}